stages:
  # - prepare
  - test
  - deploy

# image: hosting23232323/python-node:3.11
# variables:
#   POSTGRES_DB: mydb
#   POSTGRES_USER: myuser
#   POSTGRES_PASSWORD: mypassword
#   DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
#   DECODE_JWT_TOKEN: token

#   GITLAB_PIPELINE: 'true'

# be_dependencies:
#   stage: prepare
#   script:
#     - python -m venv venv
#     - source venv/bin/activate
#     - git clone https://$CI_ITALCO_BE_USERNAME:$CI_ITALCO_BE_TOKEN@gitlab.com/generic-lab/italco/italco-be.git
#     - cd italco-be
#     - pip install -r requirements.txt
#     - cd ..
#     - git clone https://$CI_GENERIC_TEST_USERNAME:$CI_GENERIC_TEST_TOKEN@gitlab.com/generic-lab/generics/generic-test.git
#     - cd generic-test
#     - pip install -r requirements.txt
#   artifacts:
#     paths:
#       - italco-be
#       - generic-test
#       - venv
#     expire_in: 1h
#   tags:
#     - linux

# test_end_to_end:
#   stage: test
#   needs:
#     - job: be_dependencies
#       artifacts: true
#   services:
#     - name: postgres:15
#       alias: postgres
#     - name: selenium/standalone-chromium:latest
#       alias: selenium
#   script:
#     - export VITE_HOSTNAME=http://$(hostname -I | tr ' ' '\n' | grep -m1 '^[0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+$'):8080/
#     - export VITE_HOSTNAME_ITALCO_FE=http://$(hostname -I | tr ' ' '\n' | grep -m1 '^[0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+$'):3000/
#     - export OPENAI_API_KEY='test'
#     - export ASSISTANT_ID='test'
#     - npm ci
#     - npm run build
#     - npm run serve &

#     - source venv/bin/activate
#     - cd italco-be
#     - alembic upgrade heads
#     - python -m src &
#     - until curl -s $VITE_HOSTNAME; do echo "Waiting for backend..."; sleep 2; done

#     - cd ../generic-test
#     - pytest -s ./src/tests/italco/test_login.py
#   artifacts:
#     when: always
#     paths:
#       - generic-test/screenshots/
#     expire_in: 1 week
#   tags:
#     - linux

lint_frontend:
  stage: test
  script:
    - npm ci
    - npx eslint "src/**/*.{js,vue}"
  tags:
    - linux
  rules:
    - if: '$CI_COMMIT_BRANCH != "main"'

.deploy_template: &deploy_template
  stage: deploy
  script:
    - |
      if [ "$CI_JOB_NAME" = "deploy_test" ]; then
        PJ_NAME="${PROJECT_NAME}-test"
        CONTAINER_ACTIVE="${PROJECT_NAME}-test"
        CONTAINER_NEXT="${PROJECT_NAME}-test-next"
        FIRST_PORT="${PORT_TEST%%-*}"
        SECOND_PORT="${PORT_TEST#*-}"
        VITE_HOSTNAME="${VITE_HOSTNAME_ITALCO_FE_TEST}"
        VITE_GOOGLE_API_KEY="${VITE_GOOGLE_API_KEY_ITALCO_FE_TEST}"
      else
        PJ_NAME="${PROJECT_NAME}"
        CONTAINER_ACTIVE="${PROJECT_NAME}"
        CONTAINER_NEXT="${PROJECT_NAME}-next"
        FIRST_PORT="${PORT_PROD%%-*}"
        SECOND_PORT="${PORT_PROD#*-}"
        VITE_HOSTNAME="${VITE_HOSTNAME_ITALCO_FE}"
        VITE_GOOGLE_API_KEY="${VITE_GOOGLE_API_KEY_ITALCO_FE}"
      fi
    
      docker build \
        --build-arg VITE_IV=$VITE_IV_ITALCO_FE \
        --build-arg VITE_HOSTNAME=$VITE_HOSTNAME \
        --build-arg VITE_GOOGLE_API_KEY=$VITE_GOOGLE_API_KEY \
        --build-arg VITE_SECRET_KEY=$VITE_SECRET_KEY_ITALCO_FE \
        -t $PJ_NAME:latest .
    
      set -e
      docker rm -f "${CONTAINER_NEXT}" 2>/dev/null || true

      docker run -d --name ${CONTAINER_NEXT} \
        -p ${SECOND_PORT}:3000 \
        $PJ_NAME:latest

      sleep 10

      if curl -fs http://localhost:$SECOND_PORT; then
        docker rm -f ${CONTAINER_ACTIVE} 2>/dev/null || true

        docker run -d --restart unless-stopped \
          --name ${CONTAINER_ACTIVE} \
          -p ${FIRST_PORT}:3000 \
          $PJ_NAME:latest

        docker rm -f ${CONTAINER_NEXT} 2>/dev/null || true
      else
        docker logs ${CONTAINER_NEXT} || true
        exit 1
      fi

deploy_test:
  <<: *deploy_template
  tags:
    - deploy-local
  when: manual

deploy_prod:
  <<: *deploy_template
  tags:
    - deploy-local
  when: manual
  only:
    - main
