stages:
  - prepare
  - test
image: hosting23232323/python-node:3.11
variables:
  POSTGRES_DB: mydb
  POSTGRES_USER: myuser
  POSTGRES_PASSWORD: mypassword
  DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
  DECODE_JWT_TOKEN: token

  VITE_GOOGLE_API_KEY: AIzaSyD0WOz5-uNYkUA3rp7V1iAm6U5Ro_-3vmI
  VITE_SECRET_KEY: 12345678901234567890123456789012
  VITE_IV: 1234567890123456

  GITLAB_PIPELINE: 'true'

be_dependencies:
  stage: prepare
  script:
    - python -m venv venv
    - source venv/bin/activate
    - git clone https://$CI_ITALCO_BE_USERNAME:$CI_ITALCO_BE_TOKEN@gitlab.com/generic-lab/italco/italco-be.git
    - cd italco-be
    - pip install -r requirements.txt
    - cd ..
    - git clone https://$CI_GENERIC_TEST_USERNAME:$CI_GENERIC_TEST_TOKEN@gitlab.com/generic-lab/generics/generic-test.git
    - cd generic-test
    - pip install -r requirements.txt
  artifacts:
    paths:
      - italco-be
      - generic-test
      - venv
    expire_in: 1h
  tags:
    - linux

test_end_to_end:
  stage: test
  needs:
    - job: be_dependencies
      artifacts: true
  services:
    - name: postgres:15
      alias: postgres
    - name: selenium/standalone-chromium:latest
      alias: selenium
  script:
    - export VITE_HOSTNAME=http://$(hostname -I | tr ' ' '\n' | grep -m1 '^[0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+$'):8080/
    - export VITE_HOSTNAME_ITALCO_FE=http://$(hostname -I | tr ' ' '\n' | grep -m1 '^[0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+$'):3000/
    - npm ci
    - npm run build
    - npm run serve &

    - source venv/bin/activate
    - cd italco-be
    - alembic upgrade heads
    - python -m src &
    - until curl -s $VITE_HOSTNAME; do echo "Waiting for backend..."; sleep 2; done

    - cd ../generic-test
    - pytest -s ./src/tests/italco/test_login.py
  artifacts:
    when: always
    paths:
      - generic-test/screenshots/
    expire_in: 1 week
  tags:
    - linux

lint_frontend:
  stage: test
  script:
    - npm ci
    - npx eslint "src/**/*.{js,vue}"
  tags:
    - linux
