/* Importing Google Font: Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Floating Action Button (FAB) Wheel */
.fab-wheel {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 45px;
  height: calc(100vh - 200px);
  width: 470px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  color: white;
  background-color: #eaeef3;
  z-index: 9999;
  transform: scale(0);
  transform-origin: bottom right;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-family: 'Roboto', sans-serif;
}

/* Navigation Bar in FAB */
.fab-nav {
  height: 110px;
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  position: relative;
}

.fab-nav i {
  color: var(--theme-color);
  font-size: 30px;
  cursor: pointer;
  width: 30px;
  transition: color 0.3s ease;
}

.fab-nav i:hover {
  color: var(--theme-color-hover);
}

/* Close Button */
.close {
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close .line {
  width: 35px;
  height: 5px;
  background-color: var(--theme-color);
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  transition: background-color 0.3s ease;
}

.close:hover .line {
  background-color: var(--theme-color-hover);
}

.line:nth-child(1) {
  transform: rotate(45deg);
}

.line:nth-child(2) {
  transform: rotate(-45deg);
}

/* User Avatar */
.avatar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.avatar img {
  width: 75px;
}

.avatar p {
  color: #000;
  font-size: 16px;
  margin: 5px 0;
}

/* Chat Content Area */
.fab-content {
  position: relative;
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 25px 10px;
  display: flex;
  flex-direction: column;
}

/* Aligning Chat Messages */
.fab-content .bot {
  align-self: flex-start;
}

.fab-content .user {
  align-self: flex-end;
  border-radius: 25px 0 25px 25px !important;
}

.fab-content .msg {
  background-color: #fff;
  padding: 15px 20px;
  color: #000;
  border-radius: 25px;
  margin: 5px 0;
  line-height: 20px;
  display: inline-block;
}

.fab-content .msg p {
  width: auto;
}

.first {
  border-radius: 0 25px 25px 25px !important;
}

.fab-message .msg.bot ol {
  padding-left: 30px;
}

.fab-message .msg.bot ul {
  padding-left: 30px;
}

.fab-message .msg.bot img {
  height: 500px;
}

/* Chat Message Sender Info */
.fab-message {
  display: flex;
  flex-direction: column;
}

.fab-content .sender {
  display: flex;
  align-items: center;
  color: #000;
  margin-top: 15px;
}

.fab-content .bot_s img {
  height: 40px;
  margin-right: 8px;
}

.user_s {
  align-self: flex-end;
}

/* Send Message Area */
.fab-send {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px -15px 60px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.fab-send input {
  border-radius: 30px 0 0 0;
  height: 70px;
  width: 80%;
  border: none;
  padding-left: 40px;
  font-size: 17px;
  color: #969ba6;
  outline: none;
  background-color: #fff;
}

.fab-send button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 20%;
  font-size: 20px;
  background-color: #fff;
  color: var(--theme-color);
  border: none;
  border-radius: 0 30px 0 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.fab-send button:hover {
  color: var(--theme-color-hover);
}

/* Footer Area */
.fab-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-top: 1px solid;
  border-top-color: var(--border-color);
  background-color: #f9f9f9;
  border-radius: 0 0 30px 30px;
  color: #000;
  flex-shrink: 0;
  font-size: 14px;
}

/* Link Decoration */
.link-decoration {
  color: var(--theme-color);
  text-decoration: none;
}

.link-decoration:hover {
  text-decoration: underline;
}

/* Export Chat Section */
.export-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 25%;
}

.export-chat h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* Export Chat Buttons */
.content-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-button button {
  height: 45px;
  width: 80px;
  margin: 0 10px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.content-button button:nth-child(2) {
  background-color: #FF5733;
}

.content-button button:nth-child(1) {
  background-color: #4CAF50;
}

.content-button button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

/* Checkmark Animation */
.checkmark {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #4bb71b;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4bb71b;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  position: relative;
  top: 5px;
  right: 5px;
  margin: 0 auto;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4bb71b;
  fill: #eaeef3;
  animation: stroke 0.6s ease-in-out;
}

.checkmark__check {
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s ease-in-out .4s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0% {
    transform: none;
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fill {
  0% {
    fill: none;
  }

  100% {
    fill: #eaeef3;
  }
}

/* Loader Animation */
.loader {
  width: 40px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%
  }

  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%
  }

  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%
  }
}

.loader {
  margin: auto;
}

/* FAQ Section */
#faq {
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  margin-top: 10px;
}

.faq-card {
  padding: 8px 15px;
  margin: 5px 10px 5px 0;
  border: 2px solid var(--theme-color);
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  background-color: #fff;
  color: var(--theme-color);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.faq-card:hover {
  background-color: var(--theme-color);
  color: #FFFFFF;
}

/* Media Query for Small Screens */
@media screen and (max-width: 768px) {
  .fab-wheel {
    margin: 0;
    height: 100%;
    width: 100vw;
    border-radius: 0;
  }

  .fab-nav {
    height: 75px;
    border-radius: 0;
    width: 100vw;
  }

  .fab-footer {
    height: 40px;
    font-size: 12px;
    border-radius: 0;
    padding: 0 10px;
  }

  .avatar p {
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

.arrow-dynamic {
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  background-color: #fff;
  color: #000; 
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 20%);
  font-size: 12px;
  cursor: pointer;
}

.arrow-dynamic-hidden {
  visibility: hidden;
}

/* Media Query for Small Laptops */
@media (min-width: 768px) and (max-width: 1440px) {
  .fab-wheel {
    height: 85vh;
    margin: 20px;
  }

  .fab-nav {
    height: 100px;
  }

  .fab-send {
    height: 60px;
  }
  .fab-send input {
    height: 60px;
    font-size: 15px;
  }

  .fab-send button {
    height: 60px;
    font-size: 18px;
  }

  .fab-footer {
    height: 35px;
    font-size: 13px;
  }

  /* Ridimensionamento del testo */
  .fab-content .sender {
    font-size: 13px;
  }
  .fab-content .msg {
    padding: 12px 16px;
    font-size: 14px;
  }

  .avatar p {
    font-size: 14px;
  }
}
